body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container {
    width: 90%;
    margin-top: 100px;
    margin-left:3.5%;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 1;
}

h1 {
    text-align: center;
    color: #333;
}

.section {
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background: #007bff;
    color: white;
}

td img {
    border-radius: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
}

.header div {
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.header div:hover,
.header div.active {
    background-color: #007bff;
    color: white;
    border-radius: 20px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 50%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(100%);
    opacity: 0;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.overlay.active {
    display: block;
    transform: translateX(0);
    opacity: 1;
}

.overlay-content {
    display: flex;
    flex-direction: column;
}

.manage-managers-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 3;
}

.manage-managers-btn:hover {
    background-color: #0056b3;
}
.logout-btn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

.logout-btn:hover {
    background-color: #0056b3;
}

.logout-btn:hover {
    background-color: #0056b3;
}
.modal {
display: none;
position: fixed;
z-index: 1;
left: 12%;
top: 0;
width: 70%;
height: 90%;
overflow: hidden;
background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.modal-content {

margin: auto;
left: 12%;
top: 0;
width: 50%;
height: 60%;
background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.form-group {
margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="number"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 5px;
}
.edit-btn {
color: blue;
cursor: pointer;
}
.delete-btn{
color: red;
cursor: pointer;
}

/* Delete Confirmation Modal */
#deleteModal .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 280px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
}

#deleteModal h2 {
    margin-top: 20px;
}

#confirmDelete {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

#confirmDelete:hover {
    background-color: #0066eb;
}
.transparent-iframe {
    background: transparent;
    border: none;
}
.manager-section {
    height: 400px;
    width: 50%;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.left-column {
    flex: 1;
    text-align: center;
}

.right-column {
    flex: 2;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.form-group {
    margin-bottom: 15px;
}


button[type="submit"] {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.1);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

button[type="submit"]:hover {
    background-color: #0063f7;
    color: white;
}

.round-image {
    border-radius: 50%;
    object-fit: cover;
}


/* Styles for the status button */
.status-btn {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.scheduled {
    background-color: red;
}

.done {
    background-color: green;
}

/* Styles for the mark-done-btn */
.mark-done-btn {
    margin-left: 80px;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.1);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

.mark-done-btn:hover {
    background-color: #0063f7;
    color: white;
}

/* Modal styles */
#deleteManagerModal,#deletePetModal,#deleteUserModal,#addManagerModal,#editManagerModal,#editModal,#deleteModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: transparent;
    animation: fadeIn 0.3s; /* Fade in the modal */
}

#deleteModal .modal-content, #deletePetModal .modal-content, #deleteUserModal .modal-content,#addManagerModal.modal-content,#editManagerModal .modal-content,#editModal .modal-content {
    background: rgba(255, 255, 255, 0.1); /* White with more transparency */
    backdrop-filter: blur(15px) saturate(180%); /* Blur and saturate effect */
    -webkit-backdrop-filter: blur(15px) saturate(180%); /* Safari support */
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Maximum width */
    animation: slideIn 0.3s; /* Slide in the modal content */
    text-align: center; /* Center text */
    max-height: 300px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    border: none; /* Remove borders */
    padding: 10px 20px; /* Some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Get the element to respect width and height */
    font-size: 16px; /* Increase font size */
    margin: 10px 5px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

button.cancel {
    background-color: #6c757d; /* Gray background */
}

button.cancel:hover {
    background-color: #5a6268; /* Darker gray on hover */
}

/* Animations */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideIn {
    from {transform: translateY(-50px);}
    to {transform: translateY(0);}
}